<!-- Text section -->
<tr>
  <td class="text bg-dark mobile-padding" style="
                      padding-top: 24px;
                      padding-bottom: 52px;
                      padding-left: 32px;
                      padding-right: 32px;
                      background-color: #ffffff;
                      ">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <h1 style="
              margin: 0;
              font-size: 38px;
              line-height: normal;
              font-weight: 700;
              color: #434343;">
            Вам начислены токены Octo Browser
          </h1>
        </td>
      </tr>
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <p style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;">
            В <a href="https://blog.octobrowser.net/ru/octo-browser-1-12-skidki-na-apgreid-podpiski"
              title="Ссылка на блог octobrowser" target="_blank" rel="noopener" style="
              color: #1890ff;
              text-decoration: underline;">Обновлении 1.12</a>
            мы изменили формулу расчета апгрейда подписки и добавили новую скидку. В
            результате
            пересчета оплаты
            за повышение тарифного плана в 2023 году, мы начислили вам бонусные токены. Спасибо, что вы с нами!
          </p>
        </td>
      </tr>
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <p style="
                          margin: 0;
                          font-size: 18px;
                          line-height: 25px;
                          font-weight: 400;
                          color: #727272;">
            Остались вопросы? <a href="https://octobrowser.net/ru/#TalkMe/openSupport"
              title="Ссылка на support octobrowser" target="_blank" rel="noopener" style="
                    color: #1890ff;
                    text-decoration: underline;">Напишите нам</a>, мы всегда на связи.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Text section -->
