<!-- Text section -->
<tr>
  <td class="text bg-dark mobile-padding" style="
                      padding-top: 24px;
                      padding-bottom: 52px;
                      padding-left: 32px;
                      padding-right: 32px;
                      background-color: #ffffff;
                      ">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <h1 style="
              margin: 0;
              font-size: 38px;
              line-height: normal;
              font-weight: 700;
              color: #434343;">
            You have received Octo Browser tokens
          </h1>
        </td>
      </tr>
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <p style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;">
            We have changed the subscription upgrade pricing policy in <a
              href="https://blog.octobrowser.net/en/octo-browser-1-12-skidki-na-apgreid-podpiski"
              title="link to blog octobrowser" target="_blank" rel="noopener" style="
              color: #1890ff;
              text-decoration: underline;">Update 1.12</a>. As a result of the corresponding
            payment
            recalculation, we are granting you bonus tokens. Thank you for being with us!
          </p>
        </td>
      </tr>
      <tr>
        <td class="text__wrap text__wrap--mobile" style="
                      padding-bottom: 24px;
                      ">
          <p style="
                          margin: 0;
                          font-size: 18px;
                          line-height: 25px;
                          font-weight: 400;
                          color: #727272;">
            Have any questions? <a href="https://octobrowser.net/en/#TalkMe/openSupport"
              title="link to support octobrowser" target="_blank" rel="noopener" style="
                    color: #1890ff;
                    text-decoration: underline;">Contact us</a>, we are always in touch.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Text section -->
